<!-- je connecte la balise form à la variable loginForm grace à la directive formGroup-->
<!-- je binde la méthode login() à lévènement ngSubmit qui correspond à la soumission du form !! pas sur le btn mais sur la balise form-->
<!-- la directive formGroup à des crochets car elle référence une expression Angular (la variable loginForm-->
<!-- la directive formControlName référence une chaîne de caractères donc il ne faut pas de crochets-->
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <!-- test avec service-->
 <!-- <form [formGroup]="loginForm" (ngSubmit)="login(form.value); form.value=''"> -->
  <div class="form-group">
    <label>Nom d'utilisateur</label>
<!-- je connecte les champs à leurs identifiants respectifs (username et password) grace à la directive formControlName-->
    <input type="text" class="form-control" formControlName="username">
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary">OK</button>
</form>
<pre>{{ loginForm.value | json }}</pre>

